/Users/viste/dev/vsrat_new/\resource\bg.png	 PNG "/Users/viste/dev/vsrat_new/\resource\bg.png"
/Users/viste/dev/vsrat_new/\resource\bypass.png	 PNG "/Users/viste/dev/vsrat_new/\resource\bypass.png"
/Users/viste/dev/vsrat_new/\resource\close.png	 PNG "/Users/viste/dev/vsrat_new/\resource\close.png"
/Users/viste/dev/vsrat_new/\resource\glass.png	 PNG "/Users/viste/dev/vsrat_new/\resource\glass.png"
/Users/viste/dev/vsrat_new/\resource\info.png	 PNG "/Users/viste/dev/vsrat_new/\resource\info.png"
/Users/viste/dev/vsrat_new/\resource\key.png	 PNG "/Users/viste/dev/vsrat_new/\resource\key.png"
/Users/viste/dev/vsrat_new/\resource\leftknobanim.png	 PNG "/Users/viste/dev/vsrat_new/\resource\leftknobanim.png"
/Users/viste/dev/vsrat_new/\resource\phase.png	 PNG "/Users/viste/dev/vsrat_new/\resource\phase.png"
/Users/viste/dev/vsrat_new/\resource\rightknobanim.png	 PNG "/Users/viste/dev/vsrat_new/\resource\rightknobanim.png"
/Users/viste/dev/vsrat_new/\resource\switch.png	 PNG "/Users/viste/dev/vsrat_new/\resource\switch.png"
